{% extends 'layout.html' %}
{%  block content %}
    <h1>{{ empleado.nombre }}</h1>
    <h3>Fecha de nacimiento: {{ empleado.fecha_nacimiento }}</h3>
    <h3>Antiguedad: {{ empleado.antiguedad }}</h3>
    <h3>Nombre de su departamento: {{ empleado.departamento.nombre }}</h3>
    {% if empleado.imagen %}
        <img style="max-width: 10em; height: auto; object-fit: cover;" src="{{ empleado.imagen.url }}" alt="Imagen de {{ empleado.nombre }}"/>
    {% else %}
        <p>Esta imágen no se carga bien.</p>
    {% endif %}
{% endblock %}